* {
    outline: 1px solid red !important;
    margin:auto;
}

#top {
    background: linear-gradient(to bottom, rgba(255, 255, 255 ,0.4) 0%,rgba(255, 255, 255, 0.4) 100%), url("img/background.jpg");
}

.navigation {
    display: -webkit-flex;
    justify-content:center;
    background : inherit;
    padding: 15px;
    font-family: 'Amatic SC', monospace;
    font-size: 35px;
    color: #1E4C64;
}

#name, #edu-title{
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    margin: auto;
    color: #1E4C64;
}


.intro{
    padding: 60px;
    text-align: center;
}

.menu {
    list-style-type: none;
    display: flex;
    padding: 30px;
}

.menu > li > a{
    padding: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: #1E4C64;
}

#mypic {
    width: 250px;
    height: 250px;
    display:table;
    margin:0 auto;
    padding: 40px;
    border-radius: 80%;
}

#description {
    padding: 40px;
    color: #1E4C64;
}

#cont-des{
    font-family: 'Arvo', serif;
    padding: 25px;
    font-size: 20px;
}
footer {
    padding: 1em 0;
    text-align: center;
    background: #D3E4EC;
    font-size: 12px;
}

#education {
    text-align: center;
    color: #1E4C64;
    padding: 50px;
}
